.header {
  padding: 1rem;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .title {
    h1 {
      font-weight: bold;
      font-size: 16px;
    }
  }
}
